BOT_TOKEN=
POSTGRES_PASSWORD=

BACKEND_PORT=3000
BACKEND_URL=http://backend:3000
ADMIN_PANEL_PORT=3001
VITE_BACKEND_URL=http://localhost:3000

ALLOWED_USERS=
ADMIN_USERS=

BILLS_THREAD_ID=
PAID_THREAD_ID=
CHAT_ID=

LOG=false
